/*Problem 1:*/
/*Create a site similar to cw2.png.
Ignore the Facebook and Google Plus pieces on the last two lines.*/

body{
    background-color: gray;
    text-align: center;
}

#login{

}

#signup{

}

#password{

}

button{
    border-color: blue;
}